/* base styles */
body, html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #001119;
    color: #dfeff7;
    display: flex;
    flex-direction: column;
    margin: 0;
	
	background: linear-gradient(-45deg, #009acd, #104e8b);
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.btn-privacy {
	padding: 7px;
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: #eee;
	color: #aaa;
}

.btn-privacy:hover {
	border: 1px solid #999;
	color: #999;
}

.content {
	margin: auto 1em auto 1em;
	padding: 1em 1em 1em 1em;
}

/* background animations */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* css animation */

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* custom styles */

a, a:hover, a:active, a:visited {
    color: #dfeff7;
    text-decoration: none;
	animation: color 3s ease;
}

.info {
    text-align: center;
}

.name {
    font-size: 2.5rem;
}

.name:before {
    content: '@';
    color: #bfefff;
}

.icons {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.icon {
    margin: 0 2px;
}

.copyright {
    text-align: center;
    padding: 5px;
    font-size: .8rem;
    color: #003b56;
}

.vspacer {
    flex-grow: 1;
}
