<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    tsnvs.com
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/">Dashboard <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <button class="btn btn-outline-info" type="button" *ngIf="!isAuthenticated" (click)="login()">Login</button>
    <button class="btn btn-outline-danger" type="button" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
  </form>
</nav><!--nav//-->
<br>
