<app-header></app-header>

<script type="application/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<div class="jumbotron jumbotron-fluid" *ngIf="(showTitle | async);then fullTitle else smallTitle"></div>

<ng-template #smallTitle>
  <div class="navbar navbar-light bg-light">
    <a class="navbar-brand"><i class="fa fa-cog"></i> Profile settings</a>
    <a class="nav-item text-right"><i class="fa fa-angle-down fa-3x" (click)="toggleTitle()"></i></a>
  </div>
</ng-template>

<ng-template #fullTitle>
  <div class="jumbotron jumbotron-fluid" (click)="toggleTitle">
    <div class="container">
      <div class="row">
        <div class="col-sm-10"><h1 class="display-4"><i class="fa fa-cog"></i> Profile settings</h1></div>
        <div class="col-sm-2 text-right align-middle"><i class="fa fa-angle-up fa-3x" (click)="toggleTitle()"></i></div>
      </div>
      <hr>
      <p class="lead">You can change your essential profile settings here. The changes are validated on the fly, so your changes will be saved automatic immediately</p>
    </div>
  </div>
</ng-template>

<div class="container">
  <form *ngIf="user$ | async as user" class="col-sm-10">
    <div class="form-row">
      <label for="userid" class="col-sm-2 col-form-label text-right">ID</label>
      <div class="col-sm-10">
        <p id="userid" class="form-control-plaintext text-muted">{{user.id}}</p>
      </div>
    </div>

    <div class="form-row">
      <label for="firstName" class="col-sm-2 col-form-label text-right">Full name</label>
      <div class="form-group col-md-5">
        <input type="text" id="firstName" class="form-control" placeholder="First name" [value]="user.profile.firstName" readonly>
      </div>
      <div class="form-group col-md-5">
        <input type="text" id="lastName" class="form-control" placeholder="Last name" [value]="user.profile.lastName" readonly>
      </div>
    </div>

    <div class="form-row">
      <label for="staticEmail" class="col-sm-2 col-form-label text-right">Email</label>
      <div class="form-group col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-times text-danger" *ngIf="user.credentials.email.status == 'VERIFIED';then verified else not_verified"></i>
              <ng-template #verified><i class="fa fa-check text-success" data-toggle="tooltip" data-placement="left" title="Your email is verified!"></i></ng-template>
              <ng-template #not_verified><i class="fa fa-times text-danger" data-toggle="tooltip" data-html="true" data-placement="left" title="Your email is not yet verified. <i class='fa fa-repeat'></i>Resend verification"></i></ng-template>
            </div>
          </div>
          <input type="text" class="form-control" id="staticEmail" [value]="user.profile.email" placeholder="Email" readonly>
        </div>
      </div>
    </div>

    <div class="form-row">
      <label for="inputPassword" class="col-sm-2 col-form-label text-right">Password</label>
      <div class="form-group col-sm-10">
        <div class="input-group">
          <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Type your new password..">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="changePassword()">Change password</button>
          </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </small>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
