<app-header></app-header>

<div class="jumbotron jumbotron-fluid" *ngIf="showTitle;then fullTitle else smallTitle"></div>

<ng-template #smallTitle>
  <div class="navbar navbar-light bg-light">
    <a class="navbar-brand"><i class="fa fa-columns"></i> Dashboard</a>
    <a class="nav-item text-right"><i class="fa fa-angle-down fa-3x" (click)="toggleTitle()"></i></a>
  </div>
  <br>
</ng-template>

<ng-template #fullTitle>
  <div class="jumbotron jumbotron-fluid" (click)="toggleTitle">
    <div class="container">
      <div class="row">
        <div class="col-sm-10"><h1 class="display-4"><i class="fa fa-columns"></i> Dashboard</h1></div>
        <div class="col-sm-2 text-right align-middle"><i class="fa fa-angle-up fa-3x" (click)="toggleTitle()"></i></div>
      </div>
      <hr>
      <p class="lead">This is your user center. You can see what you can manage concerning your account level on this page.</p>
    </div>
  </div>
</ng-template>

<div class="container">
  <div class="row">
    <div class="card border-light mb-3" routerLink="profile" style="max-width: 18rem;" appHighlightDashboard>
      <div class="card-header">Profile settings</div>
      <div class="card-body">
        <h5 class="card-title">Update your profile information</h5>
        <p class="card-text">You can update your profile settings by connecting your account to one of our provided authentication services.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
